<header>
  <h2>
    <%= title %>
  </h2>
    <%= button_to('Logout', destroy_user_session_path, method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
</header>