/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0px;
  margin: 0px;
}

main {
  height: 100vh;
}

header {
  background-color: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 0px 0.5rem;
}

.m-btn {
  background: url('/menu_icon.svg') center center no-repeat;
  width: 2rem;
  height: 2rem;
  border: none;
}

.auth-btn {
  color: white;
  width: 100%;
  height: 2.5rem;
  background-color: #3778c2;
  border: none;
  font-size: 1.1rem;
}

.name {
  color: #434b54;
  font-size: 2rem;
}

.join {
  background-color: #fff;
  color: #434b54;
}

.auth-wrapper {
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  left: 5%;
  right: 5%;
}

.flex {
  display: flex;
  justify-content: center;
}

.form-wrap {
  padding-top: 1rem;
  flex-direction: column;
}

.forgot {
  margin: 1rem;
  background: inherit;
  border: none;
  color: #434b54;
}

.form-wrap > form {
  width: 100%;
}

.input {
  width: 100%;
  height: 2rem;
}

.container {
  width: 100%;
  height: 100%;
}

.lbar {
  width: 50%;
}

.sub-title {
  font-size: 1.2rem;
  position: absolute;
  right: -12.5%;
  color: #fff;
}

.rbar {
  display: flex;
  position: relative;
  width: 50%;
  align-items: center;
}

.j-page {
  position: relative;
}

.subbar {
  background-color: #3778c2;
  height: 2rem;
  display: flex;
}

.bk-icon {
  background: url('/back.png') center center no-repeat;
  width: 3rem;
  height: 1rem;
  display: block;
  background-color: transperant;
  border: none;
  background-size: 80%;
}

.hence {
  font-size: 1rem;
  color: #fffa;
  border: none;
  background-color: inherit;
}

.h-tle {
  fontsize: 1.1rem;
  color: #fff;
}

.in {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.splash {
  position: relative;
  align-items: center;
}
